@import 'bootstrap/scss/bootstrap-grid';

@import "_shared/styles/color";
@import "_shared/styles/size";
@import "_shared/styles/spacing";

.header {
  background-color: $white;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);

  height: $headerHeight;
  padding: $spacing12 $spacing16;

  display: flex;
  justify-content: center;
  align-items: center;

  @include media-breakpoint-down(md) {
    padding: $spacing4 0;

    justify-content: flex-start;
  }
}

.backIcon {
  position: absolute;
  left: 0;

  min-width: $spacing56;

  @include media-breakpoint-down(md) {
    position: relative;
  }
}