$black: #1E1E1E;
$green: #32C08D;
$greenLight: #EAF9F4;
$greyLight: #E0E0E0;
$grey: #D9D9D9;
$greyDark: #878787;
$red: #B2294B;
$redLight: #FBF4F6;
$yellow: #E4BC28;
$white: #FFFFFF;

$greyBackground: #FAFAFA;