$bottomMenuHeight: 64px;
$headerHeight: 64px;
$topMenuHeight: 48px;

$fontSizeExtraSmall: 10px;
$fontSizeSmall: 12px;
$fontSizeMedium: 14px;
$fontSizeLarge: 16px;
$fontSizeExtraLarge: 18px;

$heading7: 17px;

$fontWeightBold: 600;
$fontWeightNormal: 400;
$fontWeightSemibold: 500;
