$spacing1: 1px;
$spacing3: 3px;
$spacing4: 4px;
$spacing6: 6px;
$spacing8: 8px;
$spacing10: 10px;
$spacing11: 11px;
$spacing12: 12px;
$spacing16: 16px;
$spacing20: 20px;
$spacing21: 21px;
$spacing22: 22px;
$spacing24: 24px;
$spacing40: 40px;
$spacing56: 56px;
$spacing66: 66px;
$spacing67: 67px;
$spacing80: 80px;